@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Lobster&family=Mochiy+Pop+P+One&family=Roboto:wght@100&display=swap");
/*Variables*/
$celeste: #85bdbf;
$azul-oscuro: #57737a;
* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("../img/marble-4700915_1920.jpg");
    background-size: cover;
  }
  #logo {
    font-family: Lobster;
  }
  a {
    text-decoration: none;
    outline: none;
    color: black !important;
  }
  .items-personalizados {
    font-family: Dosis;
  }
  .inicio__titulo {
    font-family: "Mochiy Pop P One";
    text-align: center;
  }
  .inicio__parrafo {
    font-family: Dosis;
    text-align: center;
  }
  .nosotros__parrafo {
    font-family: Dosis;
    text-align: center;
  }
  .diseños__titulo {
  font-family: "Mochiy Pop P One";
  text-align: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
.ubicacion {
  @include flex-column;
  align-items: center;
  .ubicacion__direccion {
    font-family: Dosis;
    text-align: center;
    font-weight: bold;
  }
}
.contacto {
  @include flex-column;
  align-items: center;
  .contacto__titulo {
    font-family: "Mochiy Pop P One";
    text-align: center;
  }
  .contacto__campo {
    height: 2em;
    margin: 1em;
    @include flex-column;
    background-color: transparent;
  }
  #campo_de_texto {
    height: 10em;
  }
  .contacto__boton {
    text-decoration: none;
    font-family: Dosis;
  }
  *::-webkit-input-placeholder {
    font-family: Dosis;
    font-size: 130%;
    font-weight: bold;
    color: black;
  }
  *::-moz-placeholder {
    font-family: Dosis;
    font-size: 130%;
    font-weight: bold;
    color: black;
  }
  *:-ms-input-placeholder {
    font-family: Dosis;
    font-size: 130%;
    font-weight: bold;
    color: black;
  }
}
.navegador-lateral {
  font-family: Dosis;
}
.card{
  border-color: #636e70;
  box-shadow: 0.2em 0.2em 1em #57737a;
}
.btn-card{
  background-color: #85bdbf;
  font-weight: bold;
  color: white !important;
}
@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}
footer {
  grid-area: footer;
  @include sizes(auto, 6em);
  background-color: $azul-oscuro;
  .footer__logo {
    font-family: Dosis;
    font-weight: 100;
    color: white;
  }
  .footer__telefono,
  .footer__derechos {
    line-height: 1;
    font-family: Roboto;
    color: white;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    #logo {
      font-size: 150%;
    }
    nav{
      margin-right: 1em;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
    .navegador {
      font-size: 120%;
    }
    .inicio__texto {
      @include flex-column();
      justify-content: center;
      margin: 2em;
    }
    .inicio__titulo {
      font-size: 180%;
    }
    .inicio__parrafo {
      font-size: 150%;
    }
    .iconos{
      @include flex-column();
      align-items: center;
      justify-content: space-evenly;
      margin: 1.5em;
    }
    .iconos__baño{
      margin-bottom: 1.5em;
    }
    .iconos__cocina{
      margin-bottom: 1.5em;
    }
    .iconos__armario{
      margin-bottom: 1.5em;
    }
    .nosotros__imagen {
      width: 10em;
      height: 15em;
      display: block;
      margin: auto;
    }
    .nosotros__parrafo {
      font-size: 130%;
      text-align: center;
    }
    .diseños {
      @include flex-column();
      justify-content: center;
      margin-bottom: 5em;
    }
    .diseños__titulo {
      margin-top: 2em;
    }
    .contacto_ubicacion {
      @include flex-column();
    }
    .ubicacion__titulo {
      margin-top: 1em;
    }
    .ubicacion__mapa2 {
      display: none;
    }
    .contacto__titulo {
      margin-top: 1em;
    }
    .contacto__campo {
      width: 20em;
    }
    .contacto__boton {
      width: 5em;
      height: 2em;
      transform: translateX(17em);
      margin-bottom: 2em;
    }
    .tienda_sin_filtro{
      @include flex-column();
      justify-content: space-evenly;
    }
    .navegador_tienda{
      width: auto;
      display: flex;
      flex-flow: row nowrap !important;
      justify-content: space-between;
      margin-left: -1em;
    }
    .cards1{
      display: flex;
      align-items: center;
    }
    .cards2{
      display: flex;
      align-items: center;
    }
    .vanitorys{
      margin-left: 2em;
    }
    .asientos{
      margin-left: 2em;
    }
    .footer__logo {
      display: none;
    }
    .div_telefonos {
      @include flex-column();
      align-items: flex-start;
      padding-left: 1.5em;
      position: relative;
      top: 1.5em;
    }
    .div_derechos {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-evenly;
      align-items: baseline;
    }
    .footer__instagram {
      position: relative;
      top: -1.5em;
    }
    footer {
      @include flex-column();
      justify-content: center;
      text-align: center;
      font-size: 120%;
    }
  }
  @media screen and (min-width:768px) {
    #diseños{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 15% auto 10%;
      grid-template-areas: "header" "section" "footer";
    }
    section{
      grid-area: section;
    }
    .inicio__texto{
      margin-top: 3em;
    }
    .iconos{
      height: 10em;
      grid-area: iconos;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 3em;
      margin-bottom: 2em;
    }
    .iconos__bano{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
      border-right: 0.1em solid #85bdbf;
    }
    .iconos__cocina{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
      border-right: 0.1em solid #85bdbf;
    }
    .iconos__armario{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
    }

    .asientos{
      margin-left: 5em;
    }
    footer {
      grid-area: footer;
      width: auto;
      height: 6em;
      background-color: #57737a;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      line-height: 1.7;
    }
    .footer__instagram {
      display: flex;
      justify-content: flex-end;
      padding-right: 0.5em;
      position: relative;
      top: 0.15em;
    }
    
  }
  @media screen and (min-width: 1200px) {
    body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 15% auto 10%;
      grid-template-areas: "header" "section" "footer";
    }
    .index{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 15% 50% 25% 10%;
      grid-template-areas: "header" "section" "iconos" "footer";
    }
    #logo {
      font-size: 250%;
      margin-left: 0.75em;
    }
    .navegador {
      background-color: transparent;
      width: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }
    .items-personalizados {
      font-size: 150%;
    }
    ul {
      display: flex;
      gap: 2.5em;
      padding-right: 1em;
    }
    .items-personalizados:hover {
      text-shadow: 0.1em 0.1em 0.05em #85bdbf;
    }
    section {
      grid-area: section;
    }
    .inicio {
      width: auto;
      display: flex;
      justify-content: center;
      align-content: space-between;
    }
    .inicio__texto {
      width: 50em;
      @include flex-column();
      justify-content: center;
    }
    .inicio__titulo {
      width: auto;
      height: 3em;
      font-size: 220%;
      margin-top: 2em;
    }
    .inicio__parrafo {
      font-size: 170%;
    }
    .iconos{
      height: 10em;
      grid-area: iconos;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 3em;
      margin-bottom: 5em;
    }
    .iconos__bano{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
      border-right: 0.1em solid #85bdbf;
    }
    .iconos__cocina{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
      border-right: 0.1em solid #85bdbf;
    }
    .iconos__armario{
      width: 20em;
      height: 5em;
      display: flex;
      justify-content: center;
    }
    .nosotros {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
    .nosotros__imagen {
      width: 25em;
      height: 30em;
      margin-top: 3em;
    }
    .nosotros__parrafo {
      width: 25em;
      height: auto;
      font-size: 180%;
      margin-top: 1em;
      margin-right: -2em;
      padding: 1em;
    }
    #diseños {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10% auto 5%;
      grid-template-areas: "header" "section" "footer";
    }
    .diseños {
      @include flex-column();
      margin-bottom: 3em;
    }
    .diseños__titulo {
      font-size: 200%;
      margin-top: 2em;
    }
    .diseños__imagenes {
      width: 750px !important;
      height: 600px !important;
    }
    .contacto_ubicacion {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
    }
    .ubicacion__mapa1 {
      display: none;
    }
    .ubicacion__mapa2 {
      display: inline;
    }
    .ubicacion__direccion {
      font-size: 120%;
      margin-bottom: 2em;
    }
    .contacto__titulo {
      font-size: 220%;
    }
    .contacto__campo {
      width: 40em;
      height: 2em;
    }
    .contacto__boton {
      width: 5em;
      height: 1.875em;
      font-size: 110%;
      transform: translateX(32em);
    }
    .shop {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 15% auto 10%;
      grid-template-areas: "header" "section" "footer";
    }
    .tienda_sin_filtro {
      margin-top: 2em;
      margin-bottom: 4em;
    }
    .navegador-lateral{
      border-right: 0.1em solid black;
      height: 21em;
      font-size: 120%;
    }
    #cards1{
      display: flex;
      justify-content: space-around;
    }
    #cards2{
      display: flex;
      justify-content: flex-start;
      margin-left: 1.1em;
    }
    footer {
      grid-area: footer;
      width: auto;
      height: 6em;
      background-color: #57737a;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      line-height: 1.7;
    }
    .footer__logo {
      display: inline;
      font-size: 150%;
      margin-left: 0.5em;
    }
    .footer__telefono {
      padding-left: 0.5em;
    }
    .footer__instagram {
      display: flex;
      justify-content: flex-end;
      padding-right: 0.5em;
      position: relative;
      top: 0.15em;
    }
    .footer__derechos {
      padding-right: 0.5em;
    }
  }